body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
   
    padding: 0;
    margin: 0;
    line-height: 80px;
}
.section-one h1{
    font-size: 80px;
}
.h1-color{
    color: #363958;
}
.half-width p{
    margin-bottom: 40px;
}
#name-color {
    color: #fc724ffd;
}
#latest{
    color: #fc724ffd;
}

.half-width{
    width: 35%;
    margin-left: 10%;
    margin-top: 5%;
    float: left;
 
}
.half-width img{
    width: 90%;
}

section{
    height: 500px;
   
}
.section-two .h1-color{
    font-size: 50px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( 45deg,  #fc724ffd,tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
}
.section-three{
    background-color: rgba(100, 98, 98, 0.075);
    height: 600px;
}
.section-three-header h1{
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
}
.one-half{
    width: 25%;
    margin-left: 5%;
    margin-top: 5%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    float: left;
}
.one-half img {
    width: 100%;
}


.section-four {
    margin: auto;
    width: 700px;
    height: 150px;
    padding: 30px;
    margin-top: 100px;
    background: url(../images/Group_33094_1.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.work{
    float: left;
    margin-left: 10%;
    margin-top: 30px;
    font-size: 35px;
    color: white;
}
.let-chat{
    float: right;
  margin-right: 10%;
  margin-top: 60px;
    

}
